// out: home.css, sourcemap: false, compress: true

/*--- DESTAQUE HOME --------------------------------------------------------------------------------------*/
.front .destaque{
    width: 100%;
    border: 1px solid blue;
    float: left;
    min-height: 500px;
    background: transparent url(../img/bg_topo.jpg) top center no-repeat;
    background-size: cover;
}

/*--- BEM VINDO ----------------------------------------------------------------------------------------------*/


/*--- DEPOIMENTOS --------------------------------------------------------------------------------------------*/
.front #depoimentos{
    background: #3c3b3c url(../img/bg_depoimentos.jpg) top center no-repeat;
    background-size: cover;
    color: #fff;

    #carousel-marcas .marca{
        float: left;
        width: 33%;
        text-align: center;
    }
}

/*--- CONTATO ---------------------------------------------------------------------------------------------*/
.front #contato {	
	padding: 100px 0;
}
.front #contato h2{
	font-size: 1.4em;
	margin-bottom: 25px;
}
.front #contato p{text-align: center;}
/*--- BLOCO 6 ---------------------------------------------------------------------------------------------*/
.front #mapa{
	padding: 0;
	margin: 0;
	border-top: 5px solid #d8b45c;
	color: #fff;
}
.front #mapa iframe{width: 100%;}
